Start with this code already in the notebook

In [1]:
def double_it(number):
    new_number = 2.0 * number
    return new_number

num = 5.0
new_num = double_it(num)
print(new_num)

10.0

Run the function a few times to show that it works.

In [2]:
num = 3.0
double_it(num)

6.0

Point out that because we haven't been "catching" the output our `new_num` variable isn't changing

In [3]:
print(new_num)

10.0

Show that we need to make sure we catch the value that the function is returning if we want to be able to use it for something

In [4]:
num = 3.0
new_num = double_it(num)

In [5]:
print(new_num)

6.0

Create a new function for multiplying numbers

In [19]:
def multiply_them(number1, number2, number3):
    new_number1 = number1 * 2
    new_number2 = number2 * 3
    new_number3 = number3 * 4
    return new_number1, new_number2, new_number3

Set up some code for testing it out

In [20]:
num1 = 3
num2 = 5.0
num3 = 7

new_num1, new_num2, new_num3 = multiply_them(num1,num2,num3)

print(new_num1,new_num2,new_num3)

6 15.0 28

Show them that I can just directly pass in numbers as well.

In [24]:
new_num1, new_num2, new_num3 = multiply_them(3,5.0,7)

print(new_num1,new_num2,new_num3)

6 15.0 28

**Important**: Include a note that I need to make sure I feed in the variables in the same order as they are defined in the function!!

Rewrite the function so that it no longer returns anything, but simple prints the results

In [9]:
def multiply_them(number1, number2, number3):
    new_number1 = number1 * 2
    new_number2 = number2 * 3
    new_number3 = number3 * 4
    print(new_number1, new_number2, new_number3)

Copy and paste some code from above and try running it again to show that an error occurs.

In [12]:
num1 = 3
num2 = 5.0
num3 = 7

new_num1, new_num2, new_num3 = calculate_multiples(num1,num2,num3)

6 15.0 28

TypeError: 'NoneType' object is not iterable

Remove the variable assignment from above and then run it a few times with different numbers

In [14]:
num1 = 3
num2 = 5.0
num3 = 7

calculate_multiples(num1,num2,num3)

6 15.0 28

Show that all this time the original "new_num" values haven't changed

In [16]:
print(new_num1,new_num2,new_num3)

6 15.0 28

Copy the original multiply function from above and then rename it with "new" added. Then modify it to include keyword arguments with default values.

In [27]:
def new_multiply_them(number1=1, number2=1, number3=1):
    new_number1 = number1 * 2
    new_number2 = number2 * 3
    new_number3 = number3 * 4
    return new_number1, new_number2, new_number3

Show them that this new function doesn't require any inputs and will just use the defaults in that case

In [29]:
new_num1, new_num2, new_num3 = new_multiply_them() 
print(new_num1,new_num2,new_num3)

2 3 4

Show them that I can still feed in a set of number in order as well as what happens if I only specify some of the numbers or if I just want to define a specific number

In [35]:
new_num1, new_num2, new_num3 = new_multiply_them(4,5,6) 
print(new_num1,new_num2,new_num3)

8 15 24

In [37]:
new_num1, new_num2, new_num3 = new_multiply_them(4,5)
print(new_num1,new_num2,new_num3)

8 15 4

In [38]:
new_num1, new_num2, new_num3 = new_multiply_them(number3=10)
print(new_num1,new_num2,new_num3)

2 3 40

I can also feed them in out of order when I do it this way!

In [40]:
new_num1, new_num2, new_num3 = new_multiply_them(number3=10, number1=3,
                                                 number2=13)
print(new_num1,new_num2,new_num3)

6 39 40