In [1]:
def double_it(number):
    new_number = 2.0 * number
    return new_number

num = 5.0
new_num = double_it(num)
print(new_num)

10.0

In [7]:
num = 12.0
new_num = double_it(num)
print(new_num)

24.0

In [10]:
num = 30.0
new_num = double_it(num)

In [11]:
print(new_num)

60.0

In [12]:
def multiply_them(number1, number2, number3):
    new_number1 = number1 * 2
    new_number2 = number2 * 3
    new_number3 = number3 * 4
    return new_number1, new_number2, new_number3

In [13]:
num1 = 3
num2 = 5.0
num3 = 7

new_num1, new_num2, new_num3 = multiply_them(num1, num2, num3)

print(new_num1,new_num2,new_num3)

6 15.0 28

In [17]:
new_num1, new_num2, new_num3 = multiply_them(5, 6.25, 14)
print(new_num1,new_num2,new_num3)

10 18.75 56

In [18]:
def multiply_them(number1, number2, number3):
    new_number1 = number1 * 2
    new_number2 = number2 * 3
    new_number3 = number3 * 4
    print(new_number1, new_number2, new_number3)

In [20]:
num1 = 3
num2 = 5.0
num3 = 7

multiply_them(num1, num2, num3)

6 15.0 28

In [21]:
print(new_num1,new_num2,new_num3)

10 18.75 56

In [23]:
def new_multiply_them(number1=1, number2=1, number3=1):
    new_number1 = number1 * 2
    new_number2 = number2 * 3
    new_number3 = number3 * 4
    return new_number1, new_number2, new_number3

In [24]:
new_num1, new_num2, new_num3 = new_multiply_them()
print(new_num1,new_num2,new_num3)

2 3 4

In [27]:
new_num1, new_num2, new_num3 = new_multiply_them(4,5)
print(new_num1,new_num2,new_num3)

8 15 4

In [31]:
new_num1, new_num2, new_num3 = new_multiply_them(number3=6)
print(new_num1,new_num2,new_num3)

2 3 24

In [32]:
new_num1, new_num2, new_num3 = new_multiply_them(number3=6,number1=4,
                                                number2=5)
print(new_num1,new_num2,new_num3)

8 15 24